@import url("https://fonts.googleapis.com/css?family=Cookie");
body {
  background-color: #181A1B;
}

h1 {
  font-family: 'Cookie', cursive;
  font-size: 80px;
  text-align: center;
  color: white;
  letter-spacing: 3px;
}

.drop {
  position: absolute;
  top: 0;
  z-index: 1;
  border-radius: 100%;
  background-color: #212529;
  box-shadow: 0 0 10px #212529;
}

.animate {
  animation: falling 5.5s infinite ease-in;
}

@keyframes falling {
  0% {
    top: -10px;
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 95vh;
    opacity: 0;
  }
}

.light {
  margin-top: 0px;
  top: 0px;
  bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  background-color: #181A1B;
}

.line {
  text-align: center;
  margin-top: 10px;
}

li {
  position: relative;
  margin: 0 15px;
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 12px;
  height: 28px;
  border-radius: 50%;
  top: 35px;
  background: #212529;
}
li:before {
  content: "";
  position: absolute;
  background: #222;
  width: 10px;
  height: 9px;
  border-radius: 3px;
  top: -4px;
  left: 1px;
}
li:after {
  content: "";
  top: -14px;
  left: 9px;
  position: absolute;
  width: 52px;
  height: 19px;
  border-bottom: solid #222 2px;
  border-radius: 30%;
}

.red {
  background-color: #fb4545;
  animation: lightningRed 1s infinite;
}

.green {
  background-color: #24D024;
  animation: lightningGreen 0.8s infinite;
}

.yellow {
  background-color: #fff952;
  animation: lightningYellow 0.9s infinite;
}

.blue {
  background-color: #0A53DE;
  animation: lightningBlue 1.1s infinite;
}

.pink {
  background-color: #f53896;
  animation: lightningPink 1.2s infinite;
}

@keyframes lightningRed {
  0% {
    box-shadow: 5px 10px 35px 10px #fb4545;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px #fb4545;
  }
}
@keyframes lightningGreen {
  0% {
    box-shadow: 5px 0 35px 10px #24D024;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #24D024;
  }
}
@keyframes lightningYellow {
  0% {
    box-shadow: 5px 0 35px 10px #fff952;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #fff952;
  }
}
@keyframes lightningBlue {
  0% {
    box-shadow: 5px 0 35px 10px #0A53DE;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #0A53DE;
  }
}
@keyframes lightningPink {
  0% {
    box-shadow: 5px 0 35px 10px #f53896;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px #f53896;
  }
}
@media (max-width: 1024px) {
  .line {
    padding: 0;
  }

  li {
    margin: 0 15px 20px 15px;
  }
}

@media only screen and (max-width: 600px){

  .light {
    margin-top: 0px;
    top: 0px;
    bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: #131516;
  }
  
  .line {
    background-color: #131516;
    text-align: center;
    margin-top: 10px;
  }}