/* FOOTER */
.footer{
    display: flex;
    flex-direction: row;
    font-family: Poppins;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 0px;
    background-color: #131516;
    border-radius: 25px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.footer a {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.footer h1 {
    color: #ffffff;
    height: 30px;
}

.footer h3 {
    color: #ffffff;
}

@media only screen and (max-width: 600px){
    .footer{
        display: flex;
        flex-direction: row;
        position: relative;
        font-family: Poppins;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        background-color: #131516;
        border-radius: 25px;
        height: 50px;
        align-items: center;
        justify-content: center;
    }
}