.carousel h1 {
    color: white;
    text-shadow: 0 5px #AF72FE, 0 20px 50px rgba(0,0,0,0.09);
    font-family: "Poppins", kindergarten;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.carousel h2 {
    color: white;
    text-shadow: 0 2px #AF72FE, 0 20px 50px rgba(0,0,0,0.09);
    font-family: "Poppins", kindergarten;
    font-size: 15px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.caption-after h1 {
    color: white;
    text-shadow: 0 2px #AF72FE, 0 20px 50px rgba(0,0,0,0.09);
    font-family: "Poppins", kindergarten;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.caption-after a {
    color: #AF72FE;
    text-shadow: 0 0px 2px #ffffff, 0 20px 40px rgba(0,0,0,0.09);
    font-family: "Poppins";
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.caption-after a:hover {
    color: white;
    text-shadow: 0 2px #AF72FE, 0 20px 50px rgba(0,0,0,0.09);
    font-family: "Poppins", kindergarten;
    font-size: 15px;
    margin-bottom: 40px;
    margin-top: 0px;
}

ul.slides {
    border: 4px solid #AF72FE;
    border-radius: 20px;
    display: block;
    position: relative;
    max-width: 800px;
    height: 500px;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {
    width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    font-size: 100px;
    color: #AF72FE;
    line-height: 600px;
}

.carousel-controls:hover {
    color: white;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #AF72FE;
    background-color: #fff;
    opacity: 0.5;
    margin: 5px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6,
input#img-7:checked ~ .carousel-dots label#img-dot-7,
input#img-8:checked ~ .carousel-dots label#img-dot-8 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }


/* RESPONSIVE */
@media only screen and (max-width: 600px){

    ul.slides {
        border: 4px solid #AF72FE;
        box-shadow: 0 0px 30px #AF72FE, 0 20px 50px rgba(0,0,0,0.09);
        margin-bottom: 50px;
        border-radius: 20px;
        display: block;
        position: relative;
        max-width: 370px;
        height: 300px;
        overflow: hidden;
        list-style: none;
    }

    .slide-image {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0%;
        top: 0;
        opacity: 0;
        transition: all .7s ease-in-out;
    }   
    
    .slide-image img {
        width: 100%;
        height: 100%;
    }

    .carousel-dots .carousel-dot {
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #AF72FE;
        background-color: #fff;
        opacity: 0.5;
        margin: 5px;
    }
}