/* SOCMED ICON */
.fa {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    margin: 10px 5px;
  }

.fa:hover {
    opacity: 0.7;
}

.fa a {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.fa-instagram {
    background: #B191FC;
    color: white;
}

.fa-twitter {
    background: #B191FC;
    color: white;
}